{% extends 'base.html' %} 

{% block title %}- Home {% endblock %} 

{% block content %}
<div class="container-md">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-wrap home-cards">
        <div class="card card-info">
          <div class="card-title">Totais</div>
          <div class="card-body">Conteúdo do Card</div>
        </div>
        <div class="card card-info">
          <div class="card-title">Menores Estoques</div>
          <div class="card-body">Conteúdo do Card</div>
        </div>
        <div class="card card-info">
          <div class="card-title">Últimas Movimentações</div>
          <div class="card-body">Conteúdo do Card</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
