{% extends 'global/base.html' %} 

{% block title %}- Sobre {% endblock %} 

{% block content %}
<div class="container">
    <h2 class="mt-5 font-weight-bold">Sobre o Projeto</h1>
    <p class="lead">
        Este projeto é um experimento Técnico-Científico apresentado na disciplina de Projeto Integrador para o curso de Tecnologia da Informação da Universidade Virtual do Estado de São Paulo (UNIVESP). O objetivo deste trabalho é otimizar um problema de controle de estoque utilizando aplicações web, trazendo melhorias técnicas e de controle para a loja em que a aplicação for implementada.
    </p>
    <h4 class="font-weight-bold mt-5">Integrantes do Grupo</h2>
    <ul class="ml-4 mb-5">
        <li>Eli Jesse Ribeiro</li>
        <li>Jobe Moraes Camera Neto</li>
        <li>Luiz Felipe da Silva Santos</li>
        <li>Milene Leme da Silva Nascimento</li>
        <li>Omar Gilson Cardoso</li>
        <li>Ricardo Henrique Canedo</li>
    </ul>
</div>
{% endblock %}