{% extends 'global/base.html' %} 

{% block title %}- Estoque {% endblock %} 

{% block content %}
  <div class="container-md d-flex justify-content-center align-items-center">
      <div class="form-wrapper text-center border rounded p-4">
          <h2>Atualizar Perfil</h2>
          <form class="form" role="form" method="POST">
              {% csrf_token %}
              {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <p class="error-message">{{ field.errors }}</p>
                    {% endif %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Atualizar</button>
          </form>
          <div class="mb-2 mt-2">
            <a href="{% url 'user_change_password' %}">Alterar senha</a>
        </div>
      </div>
  </div>
{% endblock content %}
