{% extends 'global/base.html' %} 

{% block title %}- Estoque {% endblock %} 

{% block content %}
    <style>
        #id_old_password,
        #id_new_password1,
        #id_new_password2 {
            float: right;
        }

        .form-wrapper > form > button {
            width: 100px;
        }
    </style>
  <div class="container-md d-flex justify-content-center align-items-center">
      <div class="form-wrapper text-center border rounded p-4">
          <h2>Atualizar Senha</h2>
          <form class="form" role="form" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="mb-2">
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                  <p class="error-message">{{ field.errors }}</p>
                  {% endif %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Atualizar</button>
          </form>
      </div>
  </div>
{% endblock content %}
