* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 18px;
}

.home-cards {
    background-color: rgb(222, 255, 233);
    justify-content: space-evenly;
}

.card-info {
    min-width: 300px;
    border-radius: 10px;
    height: 300px;
    margin: 22px;
}

.card-title {
    margin: 8px 20px;
    font-weight: 600;
    font-size: large;
}

.container-md {
    margin: 22px;
    min-height: 82vh;
}

th {
    text-wrap: wrap;
    text-transform: capitalize;
    text-align: center;
}

td {
    text-align: center;
}