* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 18px;
}

th {
    text-wrap: wrap;
    text-transform: capitalize;
    text-align: center;
}

td {
    text-align: center;
}

.container-md {
    margin: 22px;
    min-height: 82vh;
}

.card-title {
    font-weight: 600;
}

.card-height {
    min-height: 400px;
}

.error-message, .errorlist {
    color: rgb(208, 20, 20);
    font-size: 12px;
    list-style: none;
}
